In [1]:
import pandas as pd
from six.moves import urllib
import time
import numpy as np
pd.set_option("display.max_rows", 20)
pd.set_option('display.float_format', lambda x: "{0:,.3f}".format(x))

In [2]:
from yqd import *

# 'https://query1.finance.yahoo.com/v7/finance/download/^GSPC?period1=-630950400&period2=1551686400&interval=1d&events=history&crumb=7yeobYpz5RM'
quote = load_yahoo_quote('^GSPC', '19500103', 'today', 'quote', 'dataframe')
quote

,Date,Open,High,Low,Close,Adj Close,Volume
0,1950-01-03,16.660,16.660,16.660,16.660,16.660,1260000
1,1950-01-04,16.850,16.850,16.850,16.850,16.850,1890000
2,1950-01-05,16.930,16.930,16.930,16.930,16.930,2550000
3,1950-01-06,16.980,16.980,16.980,16.980,16.980,2010000
4,1950-01-09,17.080,17.080,17.080,17.080,17.080,2520000
5,1950-01-10,17.030,17.030,17.030,17.030,17.030,2160000
6,1950-01-11,17.090,17.090,17.090,17.090,17.090,2630000
7,1950-01-12,16.760,16.760,16.760,16.760,16.760,2970000
8,1950-01-13,16.670,16.670,16.670,16.670,16.670,3330000
9,1950-01-16,16.720,16.720,16.720,16.720,16.720,1460000
...,...,...,...,...,...,...,...
17405,2019-03-07,"2,766.530","2,767.250","2,739.090","2,748.930","2,748.930",3904860000
17406,2019-03-08,"2,730.790","2,744.130","2,722.270","2,743.070","2,743.070",3423130000
17407,2019-03-11,"2,747.610","2,784.000","2,747.610","2,783.300","2,783.300",3749030000
17408,2019-03-12,"2,787.340","2,798.320","2,786.730","2,791.520","2,791.520",3414230000
17409,2019-03-13,"2,799.780","2,821.240","2,799.780","2,810.920","2,810.920",3766150000
17410,2019-03-14,"2,810.380","2,815.000","2,803.460","2,808.480","2,808.480",3469730000
17411,2019-03-15,"2,810.790","2,830.730","2,810.790","2,822.480","2,822.480",5962730000
17412,2019-03-18,"2,822.610","2,835.410","2,821.990","2,832.940","2,832.940",3552190000
17413,2019-03-19,"2,840.760","2,852.420","2,823.270","2,832.570","2,832.570",3620220000
17414,2019-03-20,"2,831.340","2,843.540","2,812.430","2,824.230","2,824.230",3771200000

In [3]:
quote['Year'] = quote['Date'].map(lambda x:x.year)
quote

,Date,Open,High,Low,Close,Adj Close,Volume,Year
0,1950-01-03,16.660,16.660,16.660,16.660,16.660,1260000,1950
1,1950-01-04,16.850,16.850,16.850,16.850,16.850,1890000,1950
2,1950-01-05,16.930,16.930,16.930,16.930,16.930,2550000,1950
3,1950-01-06,16.980,16.980,16.980,16.980,16.980,2010000,1950
4,1950-01-09,17.080,17.080,17.080,17.080,17.080,2520000,1950
5,1950-01-10,17.030,17.030,17.030,17.030,17.030,2160000,1950
6,1950-01-11,17.090,17.090,17.090,17.090,17.090,2630000,1950
7,1950-01-12,16.760,16.760,16.760,16.760,16.760,2970000,1950
8,1950-01-13,16.670,16.670,16.670,16.670,16.670,3330000,1950
9,1950-01-16,16.720,16.720,16.720,16.720,16.720,1460000,1950
...,...,...,...,...,...,...,...,...
17404,2019-03-06,"2,790.270","2,790.270","2,768.690","2,771.450","2,771.450",3786600000,2019
17405,2019-03-07,"2,766.530","2,767.250","2,739.090","2,748.930","2,748.930",3904860000,2019
17406,2019-03-08,"2,730.790","2,744.130","2,722.270","2,743.070","2,743.070",3423130000,2019
17407,2019-03-11,"2,747.610","2,784.000","2,747.610","2,783.300","2,783.300",3749030000,2019
17408,2019-03-12,"2,787.340","2,798.320","2,786.730","2,791.520","2,791.520",3414230000,2019
17409,2019-03-13,"2,799.780","2,821.240","2,799.780","2,810.920","2,810.920",3766150000,2019
17410,2019-03-14,"2,810.380","2,815.000","2,803.460","2,808.480","2,808.480",3469730000,2019
17411,2019-03-15,"2,810.790","2,830.730","2,810.790","2,822.480","2,822.480",5962730000,2019
17412,2019-03-18,"2,822.610","2,835.410","2,821.990","2,832.940","2,832.940",3552190000,2019
17413,2019-03-19,"2,840.760","2,852.420","2,823.270","2,832.570","2,832.570",3620220000,2019

In [4]:
last_close = float(quote.tail(1)['Adj Close'])
last_close

2832.570068

# We are trying to simulate the following scenario:
1. Someone want to invest 10000 each year<br>
1. He is trying to find which day to invest that 10000<br>
1. We'll see that the whether the timing plays a big role
***

In [5]:
def find_purchase_price(quote):
   
    aggregation =  {
        'Adj Close':  [
                       'max',  # Worst case, always to purchase at that year's highest point
                       'min',  # Best case, always to purchase at that year's lowest point
                       'mean', # Purchase at average point
                       np.random.choice # Doesn't care, random pick a day to invest
                      ]
        }
    
    
    every_year = quote.groupby('Year').agg(aggregation)
    every_year.columns = every_year.columns.get_level_values(1)
    every_year.reset_index()
    # the renaming in aggregation dict is deprecated, explicitly rename here:
    every_year.columns = ['Max', 'Min', 'Avg', 'Rand']
    return every_year

every_year = find_purchase_price(quote)
every_year

           Max       Min       Avg      Rand
Year
1950    20.430    16.660    18.397    18.540
1951    23.850    20.690    22.322    21.520
1952    26.590    23.090    24.496    24.180
1953    26.660    22.710    24.723    25.030
1954    35.980    24.800    29.724    34.030
1955    46.410    34.580    40.499    42.750
1956    49.640    43.110    46.640    43.220
1957    49.130    38.980    44.423    39.920
1958    55.210    40.330    46.203    44.010
1959    60.710    53.580    57.418    57.960
...        ...       ...       ...       ...
2010 1,259.780 1,022.580 1,139.966 1,086.840
2011 1,363.610 1,099.230 1,267.639 1,361.220
2012 1,465.770 1,277.060 1,379.354 1,363.720
2013 1,848.360 1,457.150 1,643.799 1,697.480
2014 2,090.570 1,741.890 1,931.376 1,877.860
2015 2,130.820 1,867.610 2,061.068 2,104.200
2016 2,271.720 1,829.080 2,094.651 2,268.880
2017 2,690.160 2,257.830 2,449.076 2,373.470
2018 2,930.750 2,351.100 2,746.214 2,884.430
2019 2,832.940 2,447.890 2,706.215 2,447.890

[70 rows x 4 columns]

In [6]:
def invest(amount, purchase_pricing):
    purchase_pricing["MaxShare"] = amount/purchase_pricing['Max']
    purchase_pricing['MinShare'] = amount/purchase_pricing['Min']
    purchase_pricing['AvgShare'] = amount/purchase_pricing['Avg']
    purchase_pricing['RandShare'] = amount/purchase_pricing['Rand']
    return purchase_pricing

every_year_investment = 12000.0
every_year = invest(every_year_investment, every_year)
every_year

,Max,Min,Avg,Rand,MaxShare,MinShare,AvgShare,RandShare
Year,,,,,,,,
1950,20.430,16.660,18.397,18.540,587.372,720.288,652.271,647.249
1951,23.850,20.690,22.322,21.520,503.145,579.990,537.589,557.621
1952,26.590,23.090,24.496,24.180,451.297,519.706,489.873,496.278
1953,26.660,22.710,24.723,25.030,450.113,528.402,485.386,479.425
1954,35.980,24.800,29.724,34.030,333.519,483.871,403.713,352.630
1955,46.410,34.580,40.499,42.750,258.565,347.021,296.305,280.702
1956,49.640,43.110,46.640,43.220,241.741,278.358,257.293,277.649
1957,49.130,38.980,44.423,39.920,244.250,307.850,270.128,300.601
1958,55.210,40.330,46.203,44.010,217.352,297.545,259.721,272.665
1959,60.710,53.580,57.418,57.960,197.661,223.964,208.993,207.039
...,...,...,...,...,...,...,...,...
2010,"1,259.780","1,022.580","1,139.966","1,086.840",9.525,11.735,10.527,11.041
2011,"1,363.610","1,099.230","1,267.639","1,361.220",8.800,10.917,9.466,8.816
2012,"1,465.770","1,277.060","1,379.354","1,363.720",8.187,9.397,8.700,8.799
2013,"1,848.360","1,457.150","1,643.799","1,697.480",6.492,8.235,7.300,7.069
2014,"2,090.570","1,741.890","1,931.376","1,877.860",5.740,6.889,6.213,6.390
2015,"2,130.820","1,867.610","2,061.068","2,104.200",5.632,6.425,5.822,5.703
2016,"2,271.720","1,829.080","2,094.651","2,268.880",5.282,6.561,5.729,5.289
2017,"2,690.160","2,257.830","2,449.076","2,373.470",4.461,5.315,4.900,5.056
2018,"2,930.750","2,351.100","2,746.214","2,884.430",4.095,5.104,4.370,4.160
2019,"2,832.940","2,447.890","2,706.215","2,447.890",4.236,4.902,4.434,4.902

In [7]:
def get_irr(final_value):
    return np.irr(np.append(np.full(len(every_year), -every_year_investment),final_value))*100

def get_result(every_year):
    today = every_year.sum()

    max_value = today['MaxShare']*last_close
    min_value = today['MinShare']*last_close
    avg_value = today['AvgShare']*last_close
    rand_value = today['RandShare']*last_close

    print ("Buy On Highest Day: ${0:12,.2f}, Interal Return Rate:{1:.2f}%".format(max_value, get_irr(max_value)))
    print ("Buy On Lowest Day: ${0:12,.2f}, Interal Return Rate:{1:.2f}%".format(min_value, get_irr(min_value)))
    print ("Buy On Average Day: ${0:12,.2f}, Interal Return Rate:{1:.2f}%".format(avg_value, get_irr(avg_value)))
    print ("Buy On Random Day: ${0:12,.2f}, Interal Return Rate:{1:.2f}%".format(rand_value, get_irr(rand_value)))

get_result(every_year)

Buy On Highest Day: $19,892,758.49, Interal Return Rate:6.92%
Buy On Lowest Day: $24,720,414.69, Interal Return Rate:7.33%
Buy On Average Day: $21,958,745.34, Interal Return Rate:7.11%
Buy On Random Day: $22,111,176.71, Interal Return Rate:7.12%

In [8]:
print ("No investment:  ${0:12,.2f}".format(len(every_year)*every_year_investment))
print ("3% interest CD: ${0:12,.2f}".format(np.fv(0.03, 70, -every_year_investment, 0)))

No investment:  $  840,000.00
3% interest CD: $2,767,128.76

In [22]:
try_again = find_purchase_price(quote)
invest(every_year_investment, try_again)
get_result(try_again)

Buy On Highest Day: $19,892,758.49, Interal Return Rate:6.92%
Buy On Lowest Day: $24,720,414.69, Interal Return Rate:7.33%
Buy On Average Day: $21,958,745.34, Interal Return Rate:7.11%
Buy On Random Day: $21,951,141.78, Interal Return Rate:7.11%

In [23]:
# https://www.dividend.com/dividend-stocks/uncategorized/other/spy-spdr-sandp-500/
# median dividen is 1.75%, we use 1% to simulate the tax burdens
def calc_dividend(row):
    return row["RandShare"]*1.01**(2019-int(row.name))

def add_dividend(every_year):
    every_year["RandShareWithDividend"] = every_year.apply(calc_dividend, axis=1)
    
add_dividend(try_again)

In [24]:
try_again

,Max,Min,Avg,Rand,MaxShare,MinShare,AvgShare,RandShare,RandShareWithDividend
Year,,,,,,,,,
1950,20.430,16.660,18.397,18.710,587.372,720.288,652.271,641.368,"1,274.331"
1951,23.850,20.690,22.322,22.200,503.145,579.990,537.589,540.541,"1,063.363"
1952,26.590,23.090,24.496,23.230,451.297,519.706,489.873,516.573,"1,006.153"
1953,26.660,22.710,24.723,24.850,450.113,528.402,485.386,482.897,931.248
1954,35.980,24.800,29.724,32.130,333.519,483.871,403.713,373.483,713.115
1955,46.410,34.580,40.499,45.440,258.565,347.021,296.305,264.085,499.242
1956,49.640,43.110,46.640,46.400,241.741,278.358,257.293,258.621,484.072
1957,49.130,38.980,44.423,49.080,244.250,307.850,270.128,244.499,453.108
1958,55.210,40.330,46.203,41.710,217.352,297.545,259.721,287.701,527.892
1959,60.710,53.580,57.418,54.420,197.661,223.964,208.993,220.507,400.595
...,...,...,...,...,...,...,...,...,...
2010,"1,259.780","1,022.580","1,139.966","1,099.510",9.525,11.735,10.527,10.914,11.936
2011,"1,363.610","1,099.230","1,267.639","1,243.720",8.800,10.917,9.466,9.648,10.448
2012,"1,465.770","1,277.060","1,379.354","1,369.630",8.187,9.397,8.700,8.761,9.394
2013,"1,848.360","1,457.150","1,643.799","1,690.910",6.492,8.235,7.300,7.097,7.533
2014,"2,090.570","1,741.890","1,931.376","1,888.030",5.740,6.889,6.213,6.356,6.680
2015,"2,130.820","1,867.610","2,061.068","2,078.580",5.632,6.425,5.822,5.773,6.008
2016,"2,271.720","1,829.080","2,094.651","2,066.660",5.282,6.561,5.729,5.806,5.982
2017,"2,690.160","2,257.830","2,449.076","2,378.250",4.461,5.315,4.900,5.046,5.147
2018,"2,930.750","2,351.100","2,746.214","2,816.290",4.095,5.104,4.370,4.261,4.304
2019,"2,832.940","2,447.890","2,706.215","2,792.810",4.236,4.902,4.434,4.297,4.297

In [71]:
def get_value_with_dividend(every_year):
    today_with_dividend = every_year.sum()
    rand_value_with_dividen = today_with_dividend['RandShareWithDividend']*last_close*0.85
    print ("Buy On Random Day with dividend: ${0:12,.2f}, Interal Return Rate:{1:.2f}%".format(rand_value_with_dividen, get_irr(rand_value_with_dividen)))

get_value_with_dividend(try_again)

Buy On Random Day with dividend: $32,489,259.52, Interal Return Rate:7.85%

# Time, Not Timing, Is What Matters

In [107]:
def invest_with_dividend():
    data = find_purchase_price(quote)
    invest(every_year_investment, data)
    add_dividend(data)
    return data

column_index = onlyInvestTop20Years.columns.get_loc("RandShareWithDividend")

onlyInvestTop20Years = invest_with_dividend()
onlyInvestTop20Years.iloc[20:, column_index] = 0
get_value_with_dividend(onlyInvestTop20Years)
#display(onlyInvestTop20Years)

onlyInvestLast50Years = invest_with_dividend()
onlyInvestLast50Years.iloc[:20, column_index] = 0
get_value_with_dividend(onlyInvestLast50Years)
#display(onlyInvestLast50Years)

Buy On Random Day with dividend: $24,527,593.23, Interal Return Rate:7.32%
Buy On Random Day with dividend: $8,300,758.23, Interal Return Rate:5.23%

# Let's try floor and caps

In [40]:
quote['Month'] = quote['Date'].map(lambda x:x.month)

def calc_monthly_change(quote):
    first_day_of_each_month = quote.groupby(['Year', 'Month'])['Adj Close'].agg(['first'])
    first_day_of_each_month["change"] = first_day_of_each_month.pct_change(12)
    return first_day_of_each_month

first_day_of_each_month = calc_monthly_change(quote)
first_day_of_each_month

               first  change
Year Month
1950 1        16.660     nan
     2        17.050     nan
     3        17.240     nan
     4        17.530     nan
     5        18.220     nan
     6        18.770     nan
     7        17.640     nan
     8        18.020     nan
     9        18.550     nan
     10       19.690     nan
     11       19.560     nan
     12       19.660     nan
1951 1        20.770   0.247
     2        21.770   0.277
     3        21.850   0.267
     4        21.320   0.216
     5        22.530   0.237
     6        21.480   0.144
...              ...     ...
2017 10    2,529.120   0.170
     11    2,579.360   0.221
     12    2,642.220   0.206
2018 1     2,695.810   0.194
     2     2,821.980   0.238
     3     2,677.670   0.118
     4     2,581.880   0.095
     5     2,654.800   0.112
     6     2,734.620   0.125
     7     2,726.710   0.123
     8     2,813.360   0.136
     9     2,896.720   0.170
     10    2,924.590   0.156
     11    2,740.370   0.062
     12    2,790.370   0.056
2019 1     2,510.030  -0.069
     2     2,706.530  -0.041
     3     2,803.690   0.047

[831 rows x 2 columns]

In [60]:
def simulate_iul(change):
    if change < 0.0075:
        return 0.0075
    if change > 0.135:
        return 0.135
    return change

first_day_of_each_month = calc_monthly_change(quote)
first_day_of_each_month["iul_mode"] = first_day_of_each_month['change'].apply(simulate_iul)
first_day_of_each_month

               first  change  iul_mode
Year Month
1950 1        16.660     nan       nan
     2        17.050     nan       nan
     3        17.240     nan       nan
     4        17.530     nan       nan
     5        18.220     nan       nan
     6        18.770     nan       nan
     7        17.640     nan       nan
     8        18.020     nan       nan
     9        18.550     nan       nan
     10       19.690     nan       nan
     11       19.560     nan       nan
     12       19.660     nan       nan
1951 1        20.770   0.247     0.135
     2        21.770   0.277     0.135
     3        21.850   0.267     0.135
     4        21.320   0.216     0.135
     5        22.530   0.237     0.135
     6        21.480   0.144     0.135
...              ...     ...       ...
2017 10    2,529.120   0.170     0.135
     11    2,579.360   0.221     0.135
     12    2,642.220   0.206     0.135
2018 1     2,695.810   0.194     0.135
     2     2,821.980   0.238     0.135
     3     2,677.670   0.118     0.118
     4     2,581.880   0.095     0.095
     5     2,654.800   0.112     0.112
     6     2,734.620   0.125     0.125
     7     2,726.710   0.123     0.123
     8     2,813.360   0.136     0.135
     9     2,896.720   0.170     0.135
     10    2,924.590   0.156     0.135
     11    2,740.370   0.062     0.062
     12    2,790.370   0.056     0.056
2019 1     2,510.030  -0.069     0.007
     2     2,706.530  -0.041     0.007
     3     2,803.690   0.047     0.047

[831 rows x 3 columns]

In [66]:

first_day_of_each_month["cash_value"] = every_year_investment/12*0.8 #assuming 20% cost of insurance (COI)

first_day_of_each_month = first_day_of_each_month.copy()

def calc_compond_cash_value(df):
    for i in range(13, len(df)):
        df.iloc[i]["cash_value"] = (1 + df.iloc[i]['iul_mode'])*df.iloc[i-12]['cash_value'] +  df.iloc[i]["cash_value"] 

calc_compond_cash_value(first_day_of_each_month)
pd.set_option("display.max_rows", 36)
first_day_of_each_month

               first  change  iul_mode  share    cash_value
Year Month
1950 1        16.660     nan       nan 60.024       800.000
     2        17.050     nan       nan 58.651       800.000
     3        17.240     nan       nan 58.005       800.000
     4        17.530     nan       nan 57.045       800.000
     5        18.220     nan       nan 54.885       800.000
     6        18.770     nan       nan 53.277       800.000
     7        17.640     nan       nan 56.689       800.000
     8        18.020     nan       nan 55.494       800.000
     9        18.550     nan       nan 53.908       800.000
     10       19.690     nan       nan 50.787       800.000
     11       19.560     nan       nan 51.125       800.000
     12       19.660     nan       nan 50.865       800.000
1951 1        20.770   0.247     0.135 48.146       800.000
     2        21.770   0.277     0.135 45.935     1,708.000
     3        21.850   0.267     0.135 45.767     1,708.000
     4        21.320   0.216     0.135 46.904     1,708.000
     5        22.530   0.237     0.135 44.385     1,708.000
     6        21.480   0.144     0.135 46.555     1,708.000
...              ...     ...       ...    ...           ...
2017 10    2,529.120   0.170     0.135  0.395 1,838,810.651
     11    2,579.360   0.221     0.135  0.388 2,110,843.396
     12    2,642.220   0.206     0.135  0.378 1,986,645.637
2018 1     2,695.810   0.194     0.135  0.371 1,791,553.516
     2     2,821.980   0.238     0.135  0.354 2,228,197.481
     3     2,677.670   0.118     0.118  0.373 1,859,317.692
     4     2,581.880   0.095     0.095  0.387 1,803,442.691
     5     2,654.800   0.112     0.112  0.377 1,586,536.140
     6     2,734.620   0.125     0.125  0.366 1,823,956.086
     7     2,726.710   0.123     0.123  0.367 1,686,461.996
     8     2,813.360   0.136     0.135  0.355 2,036,312.868
     9     2,896.720   0.170     0.135  0.345 2,258,973.004
     10    2,924.590   0.156     0.135  0.342 2,087,850.089
     11    2,740.370   0.062     0.062  0.365 2,243,407.439
     12    2,790.370   0.056     0.056  0.358 2,098,837.514
2019 1     2,510.030  -0.069     0.007  0.398 1,805,790.167
     2     2,706.530  -0.041     0.007  0.369 2,245,708.962
     3     2,803.690   0.047     0.047  0.357 1,947,623.344

[831 rows x 5 columns]

In [67]:
final_value = first_day_of_each_month.tail(12).sum()["cash_value"]
investment_table = np.append(np.full(len(every_year), -every_year_investment),final_value)
iul_irr = np.irr(investment_table)*100
print ("IUL mode: ${0:12,.2f}, Interal Return Rate:{1:.2f}%".format(final_value, iul_irr))

IUL mode: $23,624,900.30, Interal Return Rate:7.25%